/* All pages */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #e8e8e8;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: #333a56;
    display: flex;
    justify-content: right;
}

.navbar a {
    color: white;
    padding: 20px 15px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
}

.mainHead {
    text-align: center;
    padding: 50px;
    color: #333a56;
}

#foot {
    background-color: #52658f;
    padding: 30px;
    color: white;
    text-align: center;
}


/* Home/computer page */
.cards {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    margin-bottom: 100px;
}

.card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15%;
    border-radius: 5px;
    padding: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card {
    border-radius: 5px 5px 0 0;
}

.cardTitle {
    padding: 2px 16px;
}

.cardLink:link, .cardLink:visited {
    text-decoration: none;
    color: inherit;
}

.name {
    text-align: center;
    font-size: 1.2em;
}


/* Binary page */
.mainSection {
    width: 90%;
    margin: auto;
}

.objectiveSection {
    border: 5px solid #52658f;
    border-radius: 7px;
    padding: 30px;
}

.objective {
    font-size: 1.1em;
}

.instructSection {
    margin-bottom: 100px;
}

.displayInstruct {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.convertSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/* Sonic Pi page */
.tutorialSection {
    width: 90%;
    margin: auto;
}

#linkTxt {
    font-size: 1.1em;
}

.backgroundContainer {
    background-color: rgb(195, 195, 195);
    margin-top: 70px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.exampleSection {
    width: 90%;
    margin: auto;
}

.example1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e8e8e8;
    border: 5px solid #52658f;
    border-radius: 7px;
    padding: 20px;
}

.example2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e8e8e8;
    border: 5px solid #52658f;
    border-radius: 7px;
    padding: 20px;
}

.exampleTxt {
    font-size: 1.3em;
}


/* Marshmallow page */
.marshSection {
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
}


/* GDevelop page */
.gdevelopSection {
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
}

.instructTutSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 130px;
}

.gameTxt {
    font-size: 1.1em;
}

li {
    margin-left: 17px;
}

@media (max-width: 750px) {
    .navbar a {
        padding: 10px 7px;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-size: .8em;
    }

    h1 {
        font-size: 1.3em;
    }

    h2 {
        font-size: 1.1em;
    }

    h3 {
        font-size: 1.1em;
    }

    .cards {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 100px;
    }
    
    .card {
        width: 20%;
    }

    .name {
        font-size: .9em;
    }

    p {
        font-size: .9em;
    }

    .objective {
        font-size: .9em;
    }

    iframe {
        width: 90%;
        width: 90%;
        justify-content: center;
    }

    img {
        width: 90%;
        justify-content: center;
    }

    .example1 {
        flex-direction: column;
    }
    
    .example2 {
        flex-direction: column;
    }
    
    .convertSection {
        flex-direction: row;
        gap: 20px;
    }
}
